<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="container">
    <div class="header">
      <h2>Exercises:</h2>
      <div class="tab-dropdown">
        <button id="tab-dropbtn" class="tab-dropbtn">Sort by musclegroup</button>
        <div class="tab-dropdown-content">
          <ul>
            <li (click)="sortByMusclegroup($event)">all</li>
            <li *ngFor="let musclegroup of exerciseMusclegroup" (click)="sortByMusclegroup($event)" [value]=musclegroup>{{musclegroup.name}}</li>
          </ul>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let exercise of filteredExerciseList">
      <exercise-short [exercise]="exercise"></exercise-short>
    </ng-container>

  </div>
</div>
